<div class="logincontainer">

    <div class="loginbox">

        <div>
            <a routerLink="/"><button mat-raised-button color="primary">Return to main page</button></a>
        </div>

        <div class="logintitle">
            <h1>Log in</h1>
        </div>

        <form class="fullwidth" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        
            <div class="fullwidth">

                <mat-form-field class="fullwidth">
    
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="email@example.com" formControlName="email" />
                    @if(this.loginForm.controls['email'].errors?.['required']){

                        <mat-error>Email can't be empty</mat-error>
                        

                    }
                    @else if (this.loginForm.controls['email'].errors?.['email']) {

                        <mat-error>Email is invalid</mat-error>

                    }
        
                </mat-form-field>

            </div>

            <div class="fullwidth">

                <mat-form-field class="fullwidth">
    
                    <mat-label>Enter your password</mat-label>
                    <input type="password" matInput formControlName="password" />
                    @if(this.loginForm.controls['password'].errors?.['required']){

                        <mat-error>Password can't be empty</mat-error>

                    }
        
                </mat-form-field>

            </div>
    
            <div class="btncreate">

                <button mat-raised-button color="primary" type="submit">Log in</button>

            </div>

            <br />
            
            <div class="btncreate">

                <p>Not registered? <a class="textlink" routerLink="/register">Create an account.</a></p>

            </div>

            @if(responseThrewError){

                <div class="errorMessage">

                    Login failed. Check your credentials again.
    
                </div>

            }
    
        </form>
    
    </div>

</div>