<app-navigation-bar></app-navigation-bar>
<div class="d-flex flex-row cntainer w-100 h-100">

    <div class="col-6 d-flex align-items-center justify-center h-100">

        <div style="width: 90%; height: 700px;" class="mt-5 mb-5 mx-auto">
            <img width="512" height="512" src="https://d1nhio0ox7pgb.cloudfront.net/_img/v_collection_png/512x512/shadow/banana.png" alt="image here" />
        </div>

    </div>
    <div class="col-6 d-flex align-items-center h-100">

        <div style="width: 90%; height: 500px;" class="mt-5 mb-5 mx-auto shadow-lg rounded-5 d-flex flex-column">

            <div class="bg-info w-100 text-light rounded-top-5 p-1 text-center">
                <h1 class="fs-1">{{ productDetails.name }}</h1>
            </div>

            <div class="w-100 p-3 fs-4 mb-5">
                <p>$ {{ productDetails.price }}</p>
                <p>{{ productDetails.description }}</p>
                <p>stock: {{ productDetails.total_products_inventory }}</p>
            </div>

            <hr class="mt-5" />

            <div class="w100 d-flex align-items-center">
                <button class="btn btn-primary p-3 mx-auto" style="width: 150px;">Buy</button>
            </div>

        </div>

    </div>

</div>