<app-navigation-bar></app-navigation-bar>

    <h1>Your wishlist</h1>

    @defer {

      <div class="tablecontainer">

        <table mat-table [dataSource]="wishlistItems" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="ID">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let item"> {{ item.wish_id }} </td>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="image">
              <th mat-header-cell *matHeaderCellDef> Image </th>
              <td mat-cell *matCellDef="let item"> 
                <img width="100" height="100" src="http://localhost:8080/shoppingcart/v2/images/{{ item.product_image }}" alt="image of product">
              </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let item"> {{item.product_name}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef> Price </th>
              <td mat-cell *matCellDef="let item"> ${{item.product_price}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> Description </th>
              <td mat-cell *matCellDef="let item"> {{item.product_description}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let item">
                    @if(item.stock > 0){

                      <button (click)="sendProductToCart(item.product_id, item.product_name, item.product_price, item.product_image)">Add to cart</button>
                      <button (click)="deleteWishListItem(item.wish_id)">Remove from wishlist</button>

                    }
                    @else {

                      <p style="color: red">Product out of stock</p>

                    }
                </td>
              </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
      </div>

    }
    @placeholder(minimum 1000ms) {
    
      <div class="loadingspinner">
    
        <div>
    
          <mat-spinner></mat-spinner>
    
        </div>
    
      </div>
    }