.logincontainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.loginbox {
    width: 500px;
    margin-top: 40px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    box-shadow: 10px 10px 10px grey;
}

.logintitle {
    text-align: center;
    color: white;
}

.fullwidth {
    width: 100%;
}

.btncreate {
    display: flex;
    justify-content: center;
}

.textlink {
    color: blue;
    text-decoration: underline;
}