<div class="w-100 h-100">

    <div class="mx-auto mt-5 p-3 shadow-lg" style="width: 500px; height: 100%;">

        <a class="btn btn-primary mb-3" routerLink="/">Return to main page</a>

        <h1 class="fs-3 text-center">Login</h1>

        <form>

            <div class="form-group mb-5">
                <label for="email">Email address:</label>
                <input type="email" class="form-control" id="email"/>
            </div>

            <div class="form-group mb-5">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password"/>
            </div>

            <div class="d-flex justify-content-center mb-3">
                <button class="btn btn-primary">Log in</button>
            </div>

            <div class="d-flex justify-content-center mb-3">
                <p class="">Not registered? <a routerLink="/register">Create an account.</a></p>
            </div>

        </form>

    </div>

</div>
