<div class="logincontainer">

    <div class="loginbox">

        <div>
            <a routerLink="/"><button mat-raised-button color="primary">Return to main page</button></a>
        </div>

        <div class="logintitle">
            <h1>Log in</h1>
        </div>

        <form class="fullwidth" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        
            <div class="fullwidth">

                <mat-form-field class="fullwidth">
    
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="email@example.com" formControlName="email" />
        
                </mat-form-field>

            </div>

            <div class="fullwidth">

                <mat-form-field class="fullwidth">
    
                    <mat-label>Enter your password</mat-label>
                    <input matInput formControlName="password" />
        
                </mat-form-field>

            </div>
    
            <div class="btncreate">

                <button mat-raised-button color="primary" type="submit">Log in</button>

            </div>

            <br />
            
            <div class="btncreate">

                <p>Not registered? <a routerLink="/register">Create an account.</a></p>

            </div>
    
        </form>
    
    </div>

</div>