<nav class="navbar navbar-expand-lg navbar-light bg-info">

    <a class="navbar-brand text-light" href="#">Marketfy</a>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item active">
          <a class="nav-link text-light" routerLink="/">Home</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link text-light">Button</a>
        </li>

        <!--<li class="nav-item">
            <a class="nav-link text-light" routerLink="/product-details">Product details</a>
        </li>-->

        @if (userData == null) {

          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/login">Login</a>
          </li>

        }
        @else {

          <li class="nav-item">
            <a class="nav-link text-light" href="" (click)="callToDestroySession()">Destroy session</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/wishlist">wishlist</a>
          </li>

        }
  
      </ul>
  
    </div>
  
  </nav>