<app-navigation-bar></app-navigation-bar>

@defer {
<div class="listbody">
@for (product of products; track product.product_id) {

  <mat-card class="card">
    <button style="position: absolute;" (click)="sendToWishList(product.product_id)">favorite now</button>

    <mat-card-header>
      <mat-card-title>
        {{ product.name }}
      </mat-card-title>
    </mat-card-header>
  
    <img mat-card-image width="256" height="256" src="http://localhost:8080/shoppingcart/v2/images/{{ product.image }}" alt="Card image cap">
    
    <mat-card-content>
      <p>{{ product.description }}</p> <br />
  
      <div class="matcardbody">
  
        @if (product.total_products_inventory > 0) {

          <div>
            <p style="color: green; font-weight: bold;">$ {{ product.price }}</p>
            <p>Stock: {{ product.total_products_inventory }}</p>
          </div>
          <div>
            <!--<button mat-raised-button color="primary" [routerLink]="['/product-details', product.product_id]">Add to cart</button>-->
            <button mat-raised-button color="primary" (click)="sendProductToCart(product.product_id, product.name, product.price)">Add to cart</button>
          </div>

        }
        @else {

          <div>
            <p style="color: red; font-weight: bold;">Out of stock</p>
          </div>

        }
  
      </div>
    </mat-card-content>
  
  </mat-card>

}
</div>
}
@placeholder(minimum 1000ms) {

  <div class="loadingspinner">

    <div>

      <mat-spinner></mat-spinner>

    </div>

  </div>
}