<app-navigation-bar></app-navigation-bar>

<div class="w-100 h-100 m-0 p-0 ml-3 container d-flex flex-row flex-wrap">

  <div class="card" style="width: 18rem; margin-right: 40px; margin-top: 20px;">
    <img class="card-img-top" width="256" height="256" src="https://d1nhio0ox7pgb.cloudfront.net/_img/v_collection_png/512x512/shadow/banana.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">product name</h5>
      <p class="card-text">
        product description
      </p>
      <hr class="w-100" />
      <div class="d-flex flex-column">

        <div>

          <p>Stock: 0</p>
          
        </div>

        <div class="d-flex flex-row justify-content-between align-items-center">

          <p class="text-success fs-5">$ Price here</p>
          <button class="btn btn-primary">Add to cart</button>

        </div>
        
      </div>
    </div>
  </div>

  <div class="card" style="width: 18rem; margin-right: 40px; margin-top: 20px;">
    <img class="card-img-top" width="256" height="256" src="https://d1nhio0ox7pgb.cloudfront.net/_img/v_collection_png/512x512/shadow/banana.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">product name</h5>
      <p class="card-text">
        product description
      </p>
      <hr class="w-100" />
      <div class="d-flex flex-column">

        <div>

          <p>Stock: 0</p>
          
        </div>

        <div class="d-flex flex-row justify-content-between align-items-center">

          <p class="text-success fs-5">$ Price here</p>
          <button class="btn btn-primary">Add to cart</button>

        </div>
        
      </div>
    </div>
  </div>

  <div class="card" style="width: 18rem; margin-right: 40px; margin-top: 20px;">
    <img class="card-img-top" width="256" height="256" src="https://d1nhio0ox7pgb.cloudfront.net/_img/v_collection_png/512x512/shadow/banana.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">product name</h5>
      <p class="card-text">
        product description
      </p>
      <hr class="w-100" />
      <div class="d-flex flex-column">

        <div>

          <p>Stock: 0</p>
          
        </div>

        <div class="d-flex flex-row justify-content-between align-items-center">

          <p class="text-success fs-5">$ Price here</p>
          <button class="btn btn-primary">Add to cart</button>

        </div>
        
      </div>
    </div>
  </div>

  <div class="card" style="width: 18rem; margin-right: 40px; margin-top: 20px;">
    <img class="card-img-top" width="256" height="256" src="https://d1nhio0ox7pgb.cloudfront.net/_img/v_collection_png/512x512/shadow/banana.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">product name</h5>
      <p class="card-text">
        product description
      </p>
      <hr class="w-100" />
      <div class="d-flex flex-column">

        <div>

          <p>Stock: 0</p>
          
        </div>

        <div class="d-flex flex-row justify-content-between align-items-center">

          <p class="text-success fs-5">$ Price here</p>
          <button class="btn btn-primary">Add to cart</button>

        </div>
        
      </div>
    </div>
  </div>

  <div class="card" style="width: 18rem; margin-right: 40px; margin-top: 20px;">
    <img class="card-img-top" width="256" height="256" src="https://d1nhio0ox7pgb.cloudfront.net/_img/v_collection_png/512x512/shadow/banana.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">product name</h5>
      <p class="card-text">
        product description
      </p>
      <hr class="w-100" />
      <div class="d-flex flex-column">

        <div>

          <p>Stock: 0</p>
          
        </div>

        <div class="d-flex flex-row justify-content-between align-items-center">

          <p class="text-success fs-5">$ Price here</p>
          <button class="btn btn-primary">Add to cart</button>

        </div>
        
      </div>
    </div>
  </div>

</div>