<mat-toolbar color="primary">

  <div style="padding-right: 50px;"><a style="cursor: pointer;" (click)="changePage('/')">Marketfy</a></div>

  <div style="width: 80%; height: 100%; display: flex; flex-direction: row;">

    <div class="navopt"><a (click)="changePage('/')">Home</a></div>

    @if (userData == null) {

      <div class="navopt"><a routerLink="auth-user/login">Login</a></div>

    }
    @else {

      <div class="navopt"><a href="" (click)="callToDestroySession()">Logout</a></div>
      <div class="navopt"><a (click)="changePage('wish-list')">Wishlist</a></div>
      <div class="navopt"><a routerLink="/checkout">Checkout</a></div>
      <div class="navopt"><a (click)="changePage('order-history-new')">Order history</a></div>

      <div class="navopt"><a routerLink="/edit-user">Edit your profile</a></div>

    }

  </div>

</mat-toolbar>