.registercontainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.registerbox {
    width: 500px;
    background-color: cornflowerblue;
    margin-top: 40px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.registertitle {
    text-align: center; color: white;
}

.namelastinputs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.registerbtn {
    display: flex;
    justify-content: center;
}

.fullwidth {
    width: 100%;
}

.namewidths {
    width: 48%;
}