<div class="registercontainer">

    <div class="registerbox">

        <div>
            <a routerLink="/login"><button mat-raised-button color="primary">Return to login</button></a>
        </div>

        <div class="registertitle">
            <h1>Register</h1>
        </div>

        <form class="fullwidth" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        
            <div class="namelastinputs">

                <div class="namewidths">

                    <mat-form-field class="fullwidth">
    
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="email@example.com" formControlName="name" />
            
                    </mat-form-field>

                </div>

                <div class="namewidths">

                    <mat-form-field class="fullwidth">
    
                        <mat-label>Last name</mat-label>
                        <input matInput formControlName="last_name" />
            
                    </mat-form-field>

                </div>

            </div>

            <div class="fullwidth">

                <mat-form-field class="fullwidth">
    
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" />
        
                </mat-form-field>

            </div>

            <div class="fullwidth">

                <mat-form-field class="fullwidth">
    
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password" />
        
                </mat-form-field>

            </div>

            <div class="fullwidth">

                <mat-form-field class="fullwidth">
    
                    <mat-label>Bio</mat-label>
                    <textarea matInput rows="3" formControlName="bio"></textarea>
        
                </mat-form-field>

            </div>

            <div class="fullwidth">

                <mat-form-field class="fullwidth">
    
                    <mat-label>Area of interest</mat-label>
                    <input matInput formControlName="area_of_interest" />
        
                </mat-form-field>

            </div>
    
            <div class="registerbtn">

                <button mat-raised-button color="primary" type="submit">Register</button>

            </div>
    
        </form>
    
    </div>

</div>